<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <!--<http auto-config="true">-->
        <!--<form-login login-page="/login.jsp" username-parameter="login" password-parameter="password" default-target-url="/append"/>-->
        <!--<intercept-url pattern="/append" access="isAuthenticated()"/>-->
        <!--<csrf disabled="true"/>-->
    <!--</http>-->
    <!--<beans:bean id = "datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<beans:property name="driverClassName" value="org.postgresql.Driver"/>-->
        <!--<beans:property name="url" value="jdbc:postgresql://localhost:5432/securitybase"/>-->
        <!--<beans:property name="username" value="postgres"/>-->
        <!--<beans:property name="password" value=""/>-->
    <!--</beans:bean>-->


    <!--<authentication-manager>-->
        <!--<authentication-provider>-->
<!--&lt;!&ndash;            <user-service>-->
               <!--&lt;!&ndash; <user name="admin" password="123" authorities="ROLE_MAIN_USER"/>-->
                <!--<user name="Vadim" password="123" authorities="ROLE_SECOND_USER"/>-->
            <!--&ndash;&gt;-->
            <!--</user-service>&ndash;&gt;-->
            <!--<jdbc-user-service data-source-ref="datasource"-->
                               <!--users-by-username-query="select u.user_name, u.password, TRUE FROM user_table u where user_name = ?"-->
                               <!--authorities-by-username-query="SELECT us.user_name, ro.role_name from user_table us-->
                                                                                                  <!--join user_role ur on ur.id_user = us.id-->
                                                                                                  <!--join role_table ro on ro.id = ur.id_role-->
                                                                                                  <!--WHERE us.user_name = ?"/>-->
        <!--</authentication-provider>-->
    <!--</authentication-manager>-->
</beans:beans>
